﻿<@section Scripts { @Scripts.Render("~/Scripts/Skripta.js")
                    }

<div class="row">
    <label id="poruka"></label>
</div>

    <div class="col-sm-4">
        <form method="post" action="post/" id="registracija" style="display:none;">
            <h3>Registracija</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
           
            <div class="form-group">
                <button id="prijava" class="btn btn-default">Prijava</button>
                <button type="submit" class="btn btn-default" style="background-color:yellow;">Registracija</button>
            </div>
        </form>
    </div>



<br />



    <div class="col-sm-4" id="pocetno">
        <h3 style="float:left;">Korisnik nije prijavljen na sistem</h3>
        <button class="btn btn-default" id="registracijaIPrijava" style="float:left; background-color:yellow;">Registracija i prijava</button>

    </div>

 


<br />
<div class="row">
    <div class="col-sm-4" id="odjava" style="display:none">
        <h3>Odjava</h3>
        <button class="btn btn-default" id="odjavise">Odjava</button>
    </div>
</div>








    <div class="row">
    <div class="col-sm-4" id="odjava">
        <h3 style="text-align:center;">Nekretnine</h3>
        <button class="btn btn-default" id="prikazNekretnina" style="display:none;">Prikazi sve</button>
    </div>
</div>

    <div style="width:100%;">
        <div class="row" id="divPretraga" style="display:none; width:25%;float:left;">
            <h3>Pretraga po kvadraturi</h3>
            <label>Od:</label>
            <input type="text" id="od" />
            <br/>
            <label>Do:</label>
            <input type="text" id="do" />
            <br/>
            <button id="pretraga" class="btn btn-default">Pretraga</button>
        </div>

        <div>
            <div class="row" style="width:74%; float:left;" >
                <p id="info"></p>
                <section id="products">
                    <div id="data">
                    </div>
                    <br />
                    <br />

                </section>
            </div>
        </div>
        </div>

    

    <div id="formDiv">
        <form method="post" action="post/" id="nekretnineForm" style="display:none;">
            <h4>Izmena Nekretnina</h4>
            <br />
            <div class="form-horizontal">
                <div class="form-group">

                    <div class="form-group">
                        <label class="control-label col-md-2 col-form-label">Agent</label>
                        <select id="agent"></select>
                    </div>
                    <label class="control-label col-md-2 col-form-label">Agencijska oznaka</label>
                    <div class="col-md-10">
                        <input id="oznaka" type="text" class="form-control" />

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-form-label">Mesto</label>
                    <div class="col-md-10">
                        <input id="mesto" type="text" class="form-control" />
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-2 col-form-label">Godina izgradnje</label>
                    <div class="col-md-10">
                        <input id="godina" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-form-label">Kvadratura</label>
                    <div class="col-md-10">
                        <input id="kvadratura" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-form-label">Cena</label>
                    <div class="col-md-10">
                        <input id="cena" type="text" class="form-control" />
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="odustajanje" class="btn btn-default">Odustajanje</button>
                        <input type="submit" value="Izmeni" class="btn btn-default" style="background-color:yellow;"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
   